
.gestioVuelos-destino {
    min-height: 90vh;
    width: 98.9vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.titulo-Vuelo {
    height: 10vh;
    width: 100%;
    color:black;;
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-Vuelo {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-principal {
    margin-top: 25px;
    width: 95vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card-hijo {
    width: 94vw;
    min-height: 90vh;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-vuelo{
    width: 20vw;
    height: 40vh;
    margin: 10px;
   
}