body{
    font-family: 'Montserrat', sans-serif;
}
.header-design {
    min-height: 12vh;
    width: 100%;
    /* width: 98.9vw; */
    border-bottom: 1px solid #999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(23, 180, 102, 0.981);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.content-logaut{
    color: white;
}

.content-usuario{
    color: white;
}

.col-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-principal-top-home{
    font-size: 2.5cap;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.header-secundario-top-resistLogin{
    display: flex;
    justify-content: center;

}

.header-secundario-navegate{
    display: flex;
    justify-content: center;
}

.nav-drop > .nav-link::after {
    display: none !important;
}

/* Ajusta el padding para que el texto no se pegue al borde del botón */
.nav-drop > .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.header-wrapper {
    margin: 0 auto;
    width: 85%;
    padding: 0.5rem 1.25rem;
}

.col {
    /* width: 98.9vw; */
    width: 100%;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

#col-center{
    display: flex;
    justify-content: center;
    box-shadow:  0px 4px 16px rgba(0, 0, 0, 0.2); 
}
.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* width: 400px; */
    width: 90%;
    margin-bottom: 0;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.header-center>input {
    width: 30%;
    border-radius: 0.8cap;
    background-color: rgba(255, 255, 255, 0.981)

}
#col{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-rigth {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px;
    font-weight: bold;    
}

.header-rigth:hover {
    transition: 0.3s;
    color: rgb(246, 2, 2);
    cursor: pointer;
  }

  .salir{
    width: 55px;
    display: flex;
    justify-content: start;
  }

.nav-drop {
    margin-left: 25px;
}

.nav-drop .dropdown-menu a:focus,
.nav-drop .dropdown-menu a:active {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

@media (max-width: 768px) {
    .home-top {
        flex-direction: column;
    }

    .home-top-left,
    .home-top-right {
        width: 100%;
    }

    .todosPostes {
        width: 100%;
        margin: 10px auto;
    }
}