.gestio-design {
    min-height: 90vh;
    width: 98.9vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.titulo-usuario {
    height: 10vh;
    width: 100%;
    color: white;
    background-color: rgb(3, 3, 3);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content-usuarios {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.btn-Registrar {
    margin-top: 10px;
    background-color: none;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.btn-Registrar:hover {
    border-color: rgb(213, 19, 19);
}

.tabla-usuarios {
    width: 95%;
    height: 55vh;
    overflow: auto;
}

table {
    border-collapse: collapse;
    height: 25%;
    width: 100%;
}

.btn-light:hover {
    border-color: blue;
}

input {
    width: 15vw;
}

input:hover {
    color: black;
    background-color: rgb(247, 249, 249);
}

input:focus-visible {
    color: black;
    background-color: rgb(247, 249, 249);
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: red;
}