.design-vuelopasage {
    background-color: rgb(253, 251, 251);
    min-height: 90vh;
    width: 98.9vw;
    margin: 0 auto;
    color: rgb(1, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}



.h2-DVueloPasage {
    margin-top: 10px;
}

.info-genera-vuelo {
    display: flex;
    flex-direction: row;
}

.info-vuelo {
    width: 16vw;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 5px;
}

.input-info-DPasage{
    margin: 10px;
    height: 25vh;
}

.info-vuelo-textfield {
    width: 23vw;
    margin-top: 10px;
    
}

.btn-info-DPasage {
    width: 31vw;
    height: 23vh;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
}

.btn-info-Pagar,
.btn-info-pdf {
    margin-left: 5px;
    height: 5vh;
    margin-top: 10px;
}

.btn-info-Pagar {
    height: 5vh;
}