.gestioVuelos-design {
    min-height: 90vh;
    width: 98.9vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.titulo-Vuelos {
    height: 10vh;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-Vuelos {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.btn-adicinar {
    margin-top: 10px;
    height: 8vh;
    background-color: none;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla-Vuelos {
    width: 95%;
    height: 55vh;
    overflow: auto;
}

.btn-adicinar:hover {
    border-color: rgb(213, 19, 19);
}

.content-table {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    /* Habilita el scroll horizontal */
}

table {
    border-collapse: collapse;
    width: 95%;
    color: white;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    /* Evita el salto de línea en el texto */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input {
    width: 15vw;
}

input:hover {
    color: black;
    background-color: rgb(247, 249, 249);
}

input:focus-visible {
    color: black;
    background-color: rgb(247, 249, 249);
}

.modal-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textFil{
    width: 31vw;
}
.btn-secondary:hover {
    background-color: red;
}
