
.login-design{
    min-height: 85vh;
    width: 100vw;
    background-color: rgb(249, 246, 246);
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.card-login{
    width: 22vw;
    height: 70vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 205, 24, 0.236);
}

.container-login{
    width: 20vw;
    height: 65vh;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
}

.h1-Badge{
width: 10vw;
height: 10vh;
}

.textfield-email{
    width: 15vw;
}

#btn-login{
width: 15vw;
margin-bottom: 10px;
}

.info-log{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #220fcb;
}