.login-design {
    min-height: 85vh;
    width: 100vw;
    background-color: rgb(249, 246, 246);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login {
    width: 25vw;
    height: 55vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 205, 24, 0.236);
}

.container-login {
    width: 23vw;
    height: 55vh;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
}

.h2-title-login {
    margin-top: 25px;
}

.p-login {
    margin-left: 33px;
    align-self: flex-start;
    width: 12vw;
    font-size: small;
}

.textfield-email {
    width: 17vw;
}

#btn-login {
    margin-top: 10px;
    width: 17vw;
    margin-bottom: 10px;
}

.content-linkRe {
    font-size: smaller;
    display: flex;
    align-items: center;
}

.info-log {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-log {
    color: blue;
}
